# Семинар 1

## Подготовка рабочей среды

- **Python** (язык программирования)
- **Jupyter Notebook** («оболочка» для удобного написания кода)
    - онлайн-альтернатива: [Google Colab](https://colab.google/)
    - [гайд по запуску Jupyter Notebook](https://docs.jupyter.org/en/latest/running.html)

Jupyter Notebook позволяет создавать файлы формата `.ipynb` (*iPython notebooks*), или по-простому «**тетрадки**». Они состоят из автономных ячеек-блоков. Ячейки бывают двух типов: с кодом и с текстом.

В ячейках с текстом можно использовать **Markdown** — минималистичный язык разметки текста. Вот **[краткая справка](https://www.markdownguide.org/cheat-sheet/)** по основным функциям Markdown.

Самое главное, что может пригодиться: заголовки разных уровней, выделение **жирным** / *курсивом*, [гиперссылки](https://www.youtube.com/watch?v=f-gi8k4IRh8), простые списки.

## Операции с числами

Сложение, вычитание, умножение и деление:

In [1]:
print(24 + 10)
print(24 - 10)
print(24 * 10)
print(24 / 10)

34
14
240
2.4

Деление нацело (без остатка) и остаток:

In [2]:
print(24 / 10)   # обычное деление
print(24 // 10)  # без остатка
print(24 % 10)   # остаток

2.4
2
4

Можно использовать скобки, чтобы указывать порядок выполнения операций:

In [3]:
24 - 20 / 10

22.0

In [4]:
24 - (20 / 10)

22.0

In [5]:
(24 - 20) / 10

0.4

## Переменные

Переменные — это «ярлыки» для объектов.

In [6]:
x = 10

In [7]:
x

10

Объектом может быть число, строка или что-то ещё (пока что мы не знаем других вариантов):

In [8]:
x = "десять"

Попытка вызвать переменную, которая ещё не определена, даёт ошибку, потому что питон не находит такой переменной в своей памяти:

In [9]:
y

NameError: name 'y' is not defined

In [11]:
y = 14
y

14

`print()` — это **функция**. Функции могут принимать «на вход» разные объекты и делать с ними что-то. Например, функция `print()` принимает на вход некоторое количество объектов и выводит на экран их содержимое. Запуская код с функцией, мы «вызываем» её, то есть заставляем её выполнить соответствующие действия.

Объекты, которые функция принимает на вход, называются **аргументами** функции. Аргументы функции записываются в скобках после её названия (NB: *скобки нужны, даже если аргументов нет!*). Несколько аргументов перечисляются через запятую.

In [12]:
print("текст")

текст

In [13]:
print(345)

345

In [14]:
print(x)

десять

Несколько аргументов `print()` по умолчанию выводятся через пробел:

In [15]:
print("кто", "вообще", "придумал", "число", 4)
print("кто вообще придумал число 4")

кто вообще придумал число 4
кто вообще придумал число 4

Попытка вывести на экран несуществующую переменную приведёт к ошибке:

In [16]:
print(z)

NameError: name 'z' is not defined

Функция `input()` запрашивает данные у пользователя программы. Эти данные можно сохранить в переменную:

In [17]:
x = input("Введите логин:")

Введите логин: saratov2001

In [18]:
x

'saratov2001'

Объекты можно сравнивать между собой. Для этого используется оператор `==`:

In [19]:
print(x == "kaleme")
print(x == "kaleme ")
print(x == "kalewe")
print(x == 0)

False
False
False
False

In [20]:
print("kaleme" == "kaleme")
print("kaleme" == "کلمه")
print("мир" == "война")

True
False
False

In [21]:
print("алло," + "салют" == "алло, салют")
print(2 * 2 * 2 * 2 * 2 == 2 ** 5)

False
True

In [22]:
print(x == z)

NameError: name 'z' is not defined

**Внимание!** Не путай, иранист:
- оператор `=` — для **приписывания**, он меняет содержание переменной и ничего не возвращает
- оператор `==` — для **сравнения**, он не меняет содержание переменной и возвращает `True` или `False`
_______

Числа также можно сравнивать с помощью операторов «больше» и «меньше»:

In [23]:
print(3 < 4)
print(4 < 4)
print(8 < 4)

True
False
False

In [24]:
print("сто" < 4)

TypeError: '<' not supported between instances of 'str' and 'int'

А также «больше или равно» и «меньше или равно» (прямо так пишется, знак «больше» или «меньше», а потом сразу «равно»):

In [25]:
print(3 <= 4)
print(4 <= 4)
print(8 <= 4)

True
True
False

А также «не равно» (пишется как `!=`). Два числа, конечно же, будут «не равны» всегда, когда оператор «равно» будет выдавать `False`:

In [26]:
print(7 * 7 == 49)
print(7 * 7 == 47)

True
False

In [27]:
print(7 * 7 != 49)
print(7 * 7 != 47)

False
True

## Операции со строками

### Арифметические операции

Строки можно складывать:

In [28]:
print("птенчик", "любит", "кушать")
print("птенчик" + "любит" + "кушать")

птенчик любит кушать
птенчиклюбиткушать

В отличие от `print()`, сложение не предусматривает пробелы. Их можно вставить иначе, если это необходимо:

In [29]:
print("птенчик" + " " + "любит" + " " + "кушать")
print("птенчик " + "любит " + "кушать")

птенчик любит кушать
птенчик любит кушать

Другое отличие: операция сложения не просто выводит на экран, а **возвращает** новый объект. Это значит, что его можно записать в переменную:

In [30]:
stroka = "птенчик " + "любит " + "кушать"
print(stroka)

птенчик любит кушать

А `print()` просто выведет аргументы на экран, но в переменную ничего не запишет:

In [31]:
stroka2 = print("птенчик " + "любит " + "кушать")
print(stroka2)

птенчик любит кушать
None

Строки также можно умножать на числа:

In [32]:
print("птенчик, а с ним ")
print("птенчик, а с ним " * 100)

птенчик, а с ним
птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним птенчик, а с ним

Умножать строки друг на друга и вычитать одну из другой нельзя:

In [33]:
print(stroka - "корм")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [34]:
print(stroka * "корм")

TypeError: can't multiply sequence by non-int of type 'str'

### Индексация

Строка — это такой объект, который состоит из отдельных элементов (в случае строки это символы). К этим элементам можно обращаться по номерам, которые называются **индексами**:

In [35]:
x = "АБВГДЕЁЖЗИК"
print(x[0])
print(x[1])
print(x[9])
print(x[0]+x[1])

А
Б
И
АБ

**Внимание!** Важно запомнить: при индексации отсчёт начинается с `0`, а не с `1`.
_________

Если запросить элемент с индексом, которого нет в строке (размер строки меньше), то программа выдаст ошибку:

In [36]:
x[12]

IndexError: string index out of range

Чтобы выбрать сразу несколько последовательных элементов, можно использовать **срезы**:

In [37]:
print(x[0:5])
print(x[6:8] + x[9:11])

АБВГД
ЁЖИК

**Внимание!** В срезе указывается два числа:
- до двоеточия — индекс, с которого начинается срез;
- после двоеточия — индекс, *до* которого (не включая его) срез останавливается.

In [38]:
numbers = "0123456789"
print(numbers)
print(numbers[2:7])

0123456789
23456

Одно из чисел в срезе можно пропустить. Тогда срез будет продолжаться, пока с одной из сторон строчка не закончится:

In [39]:
print(numbers[:5])
print(numbers[5:])

01234
56789

Соответственно, если не указать ни одну границу, то срез будет включать в себя всю строчку. Это не очень осмысленно, потому что быстрее просто запросить саму эту строчку:

In [40]:
print(numbers)
print(numbers[:])

0123456789
0123456789

Есть специальная хитрость для того, чтобы отсчитывать индексы не только с начала строки, но и с конца. Для этого надо сделать индекс отрицательным:

In [41]:
x = "АБВГДЕЁЖЗИК"
print(x[0])
print(x[-1])

А
К

Да, всё запутанно: первая буква получается с индексом `0`, а первая с конца — не `-0`, как мы бы, может быть, ожидали (так вообще нельзя сделать), а с индексом `-1`. Ничего страшного! Со временем вы освоитесь и привыкнете.

In [42]:
print("от четвёртого символа с конца до второго с конца:", x[-4:-2])

от четвёртого символа с конца до второго с конца: ЖЗ

In [43]:
print("от второго с начала до второго с конца:", x[2:-2])

от второго с начала до второго с конца: ВГДЕЁЖЗ

In [44]:
print("от шестого с конца до конца строки:", x[-6:])

от шестого с конца до конца строки: ЕЁЖЗИК

### Варианты вывода строк

Есть несколько более гибких способов выводить строки на экран. Первый способ — **форматирование**. Если слева от строки (слева от открывающих кавычек) приписать букву `f`, то такая строка станет «форматированной строкой», или «**f-строкой**». Внутри такой строки можно будет добавлять названия переменных, и в итоговой строке сохранятся их значения. Названия переменных надо обрамлять фигурными скобками `{}`. Осторожно, не запутайтесь в разных видах скобок!

In [45]:
author = "Алонцев"
year = 2019
pages = "34–35"

print(f"[{author} {year}: {pages}]")

[Алонцев 2019: 34–35]

Если мы вдруг забудем написать `f` перед строкой, то питон не поймёт, что мы хотим достать переменные:

In [46]:
print("[{author} {year}: {pages}]")

[{author} {year}: {pages}]

Внутрь фигурных скобок можно помещать не только переменные, но и вообще любые выражения:

In [47]:
n = 34

print(f"Число {n} — очень интересное. Если умножить на два, то будет {n*2}.")
print(f"А если нацело разделить на восемь, прибавить 20 и всё это возвести во вторую степень — будет аж {(n//8+20) ** 2}.")

Число 34 — очень интересное. Если умножить на два, то будет 68.
А если нацело разделить на восемь, прибавить 20 и всё это возвести во вторую степень — будет аж 576.

In [48]:
stroka = "Кассиопея"

print(f"Первая буква: «{stroka[0]}». Две последние буквы: «{stroka[-2:]}». По-моему, красиво!")

Первая буква: «К». Две последние буквы: «ея». По-моему, красиво!

_______

Другой способ красиво оформлять вывод — использовать **именованные аргументы** функции `print()`. Эти аргументы называются `sep` и `end`.

Аргумент `sep` — это **сеп**аратор. Он указывает, что функция `print()` будет вставлять между выводимыми на экран объектами:

In [49]:
print("Москва", "Париж", "Тегеран", sep="—")

Москва—Париж—Тегеран

In [50]:
print("Москва", "Париж", "Тегеран", sep=", ")

Москва, Париж, Тегеран

In [51]:
print("Москва", "Париж", "Тегеран", sep=".............")

Москва.............Париж.............Тегеран

По умолчанию `sep` — это пробел. Это значит, что если его не указать эксплицитно, то между объектами будет выводиться пробел (как и было раньше, когда мы использовали эту функцию):

In [52]:
print("Москва", "Париж", "Тегеран")
print("Москва", "Париж", "Тегеран", sep=" ")

Москва Париж Тегеран
Москва Париж Тегеран

Аргумент `end` указывает, что закончит вывод строки. По умолчанию это символ `"\n"` — так обозначается переход на новую строку. Именно поэтому, если запустить несколько функций `print()` подряд, то результат будет напечатан на разных строчках:

In [53]:
print("Памир вперёд!")
print("Памир вперёд!")
print("Памир вперёд!")

Памир вперёд!
Памир вперёд!
Памир вперёд!

In [54]:
print("Памир вперёд!", end="\n")
print("Памир вперёд!", end="\n")
print("Памир вперёд!", end="\n")

Памир вперёд!
Памир вперёд!
Памир вперёд!

Но это можно изменить, если указать другой `end`. Например, если указать пустую строку, то следующий `print()` начнётся там же, где остановился предыдущий. А ещё можно указать любые другие последовательности символов:

In [55]:
print("Это принт номер один.", end="")
print("А это принт номер два.", end="=====")
print("Невероятно, но это принт номер три.", end="Конец!")

Это принт номер один.А это принт номер два.=====Невероятно, но это принт номер три.Конец!

Заметьте, что между основными аргументами `print()` и «концовкой» `end` **не** используется сепаратор `sep`. Поэтому `end` не стоит воспринимать как «последний» основной аргумент:

In [56]:
print("Москва", "Париж", "Тегеран", "Кейптаун", sep="→→→")

print("Москва", "Париж", "Тегеран", sep="→→→", end="Кейптаун")

Москва→→→Париж→→→Тегеран→→→Кейптаун
Москва→→→Париж→→→ТегеранКейптаун

_______
**Внимание**! Несколько важных правил, которые надо запомнить:
1. Именованные аргументы всегда идут после неименованных.
2. Иногда именованные аргументы можно не именовать (то есть вставлять в функцию без указания имени), но в случае с функцией `print()` это надо делать всегда. (Да и вообще по жизни так лучше делать всегда.)

Если подать именованные аргументы перед неименованными, будет ошибка:

In [57]:
print("Тут никакой ошибки нет.", "И быть не может.", sep=" === ")

Тут никакой ошибки нет. === И быть не может.

In [58]:
print(sep=" === ", "А вот тут ошибка будет.", "Зуб даю.")

SyntaxError: positional argument follows keyword argument (3541642268.py, line 1)

Если подать именованные аргументы без имени, то `print()` просто не поймёт, что вы имели в виду, что вот эта строчка в конце должна была быть, например, сепаратором:

In [59]:
print("Привет!", "Как дела?", "Давай поболтаем?", sep=" :) ")

Привет! :) Как дела? :) Давай поболтаем?

In [60]:
print("Привет!", "Как дела?", "Давай поболтаем?", " :) ")

Привет! Как дела? Давай поболтаем?  :)

## Типы данных

Каждый объект принадлежит к определённому типу. Тип объекта определяет, например, какие функции можно применять к этому объекту.

Пока что нам будут нужны четыре типа данных:

- `int` (целые числа)
- `float` (вещественные числа, то есть числа с «плавающей» запятой)
- `str` (строки текста)
- `bool` (логические, или «булевы» значения: `True` и `False`)

Определить тип переменной можно с помощью функции `type()`:

In [61]:
print(type("stroka"))

<class 'str'>

In [62]:
print(type(0))

<class 'int'>

In [63]:
print(type(-45))

<class 'int'>

In [64]:
print(type("-45"))

<class 'str'>

In [65]:
print(type(34.67))

<class 'float'>

Заметьте, что числа типа `float` не обязательно имеют ненулевую дробную часть. Этот тип может хранить и целые числа. Что на самом деле отличает его от `int`, так это то, что он всегда содержит «плавающую» запятую (*NB*: в питоне запятая перед дробной частью обозначается точкой). Можно сказать так: числа `float` — это такие числа, которые всегда имеют дробную часть, если учитывать, что эта дробная часть может быть нулём.

In [66]:
print(type(9.0))

<class 'float'>

In [67]:
print(type(9))

<class 'int'>

Соответственно этому отличаются типы чисел, которые мы получаем в результате точного деления `//` и деления нацело `//`. В первом случае мы получаем `float`, во втором — `int`.

In [68]:
a = 45 / 10
print(f"Переменная: {a}, тип: {type(a)}")
b = 45 // 10
print(f"Переменная: {b}, тип: {type(b)}")

Переменная: 4.5, тип: <class 'float'>
Переменная: 4, тип: <class 'int'>

Так будет даже в тех случаях, когда число делится нацело:

In [69]:
a = 45 / 9
print(f"Переменная: {a}, тип: {type(a)}")
b = 45 // 9
print(f"Переменная: {b}, тип: {type(b)}")

Переменная: 5.0, тип: <class 'float'>
Переменная: 5, тип: <class 'int'>

Выражения, в которых мы сравниваем два объекта, имеют тип `bool`. Они всегда имеют либо значение `True`, либо значение `False`.

In [70]:
print("Переменная:", 2 * 2 == 4)
print("Тип:", type(2 * 2 == 4))

Переменная: True
Тип: <class 'bool'>

In [71]:
print("Переменная:", 4 * 4 < 10)
print("Тип:", type(4 * 4 < 10))

Переменная: False
Тип: <class 'bool'>

______
Тип объекта часто можно изменить «насильно». Для этого используются функции, совпадающие с названиями типов:

In [72]:
a = 4.084
print(f"Переменная: {a}, тип: {type(a)}")

a = int(a)
print(f"Переменная: {a}, тип: {type(a)}")

Переменная: 4.084, тип: <class 'float'>
Переменная: 4, тип: <class 'int'>

In [73]:
a = "2345.0"
print(f"Переменная: {a}, тип: {type(a)}")

a = float(a)
print(f"Переменная: {a}, тип: {type(a)}")
print(a * 2)

Переменная: 2345.0, тип: <class 'str'>
Переменная: 2345.0, тип: <class 'float'>
4690.0

In [74]:
a = 46708
print(f"Переменная: {a}, тип: {type(a)}")

a = str(a)
print(f"Переменная: {a}, тип: {type(a)}")
print(f"Первый символ в этой строке: {a[0]}")

Переменная: 46708, тип: <class 'int'>
Переменная: 46708, тип: <class 'str'>
Первый символ в этой строке: 4

Не всегда изменение типа осмысленно. Например, если попытаться преобразовать в число (через `int` или `float`) строку, которая состоит из цифр, то всё получится. А если подать строку, которая не выглядит как число, то ничего не выйдет:

In [75]:
a = "питончик не бей, я число"
print(f"Переменная: {a}, тип: {type(a)}")

a = float(a)
print(f"Переменная: {a}, тип: {type(a)}")
print(a * 2)

Переменная: питончик не бей, я число, тип: <class 'str'>

ValueError: could not convert string to float: 'питончик не бей, я число'

Конфликт между разными типами может проявляться и в других случаях. Например, число `int` можно сравнить с `float`:

In [76]:
a = 17
b = 23.5
print(a < b)

True

А вот сравнить, что больше — строчка или число, не получится:

In [77]:
a = 17
b = "23.5"
print(a < b)

TypeError: '<' not supported between instances of 'int' and 'str'

## NB: Вывод в Jupyter

В Jupyter Notebook можно выводить данные на экран не только с помощью `print()`, но и просто пропечатывая желаемое выражение / переменную в конце ячейки.

In [78]:
stroka = "Вот такие пироги!"

In [79]:
print(stroka)

Вот такие пироги!

In [80]:
stroka

'Вот такие пироги!'

Иногда результат этих двух способов отличается! Например:

In [81]:
print(1)
print(2)
print(3)

1
2
3

In [82]:
1
2
3

3

**Внимание!** Если в задании указано: «распечатайте», «выведите на экран»… — пользуйтесь функцией `print()`. Она точно выведет всё, что нужно, в правильном виде.